
body {
    margin: 0;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    overflow: hidden;

}

.container {
    display: flex;
    margin: 0px;
    
}

img.leaves {
    height: 100vh;
    width: 33vw;
    
}

img.logo {
    height:12vh;
}
figcaption {
    position: absolute;
    bottom:4px;
    color: white;
    left:10vw
   
}
#logo {
    display: flex;
    position: absolute;
    width: 33vw;
    top:20vh;
    height:15vh;
    justify-content: center;
    align-items: center;
    font-family: Norse-Bold,sans-serif;
    font-size: 5.5em;
    color: white;
    background-color: rgb(0,0,0,40%);
}
.rhs {
    display: flex;
    flex-direction: column;
    height: 98vh;
    width: auto;
    flex-grow: 2;
    margin-bottom: 0;
}
.right-top,.right-mid {
    height: 33.3vh;
    
}
.right-top {    
    display:flex;
    align-items: flex-end;
    background-color: #f9fafb;
    margin:0px;
    padding: 0px;
    font-size:30px;
}

.text {
    margin-bottom: 40px;
    width:48vw;
    font-weight: bolder;
    
}

.text, .text2 {
    margin-left: 30px;
    
    
}

.text2 {
    margin-top: 20px;
    font-size: 24px;
}

.text, .form, .footer {
    margin-left: 30px;
}


.right-mid {
    box-shadow: 10px 5px 5px rgb(0,0,0,10%);
    margin-left: 0px;
}

.right-bottom {
    height: 28vh;
}

form{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    justify-content:left;
    width: 80%;
    
}
label {
    font-size: 14px;
    margin-top: 20px;
    color: #39424e;
}

label.top-fr {
    margin-top: 10px;
}

.form-row {
    margin-bottom: 10px;
    display: flex;
    /* justify-content: flex-start; */
    font-weight: bolder;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: column;
    
  }

.form-row input[type='email'] {
    border-color: #E5E7EB;
}

input {
    width: 300px;
    height:30px;
    border-radius: 5px;
    border: 1px solid #E5E7EB;
    font-size: 18px;
}

input:focus {
    outline: none;
    border: 2px solid #4a6ed6;
    box-shadow: 10px 5px 5px rgb(0,0,0,10%);
    
}


.form-row input[type='email']:invalid,
.form-row input[type='password']:invalid {
    border-color: red;
}


  
button {
    background-color: #596D48;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 40px;
    font-weight: bold;
    margin-top: 50px;
}

button:hover {
    background-color: white;
    color: #596D48;
    cursor:pointer;
}
a:hover {
    cursor: pointer;

}
.footertext {
    margin-top: 20px;
    font-size: 20px;
}

@font-face {
    font-family: Norse-Bold;
    src:url(Norse-Bold.otf);
}